<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
	<h4 class="card-header" id="ContractorTypes">Contractor Types</h4>
	<div class="card-body">
		@Html.DropDownList("ContractorTypesID", null, htmlAttributes: new { @size = 20, @class = "form-control" })
	</div>
    <div class="card-footer">
        <a asp-controller="ContractorTypes" asp-action="Create">Create</a> |
        <a asp-controller="ContractorTypes" asp-action="Sort">Sort</a> |
        <a asp-controller="ContractorTypes" asp-action="Edit" class="linkClick">Edit</a> |
        <a asp-controller="ContractorTypes" asp-action="Delete" class="linkClick">Delete</a>
    </div>
</div>